# Template for the homework


## Task
- Classify each document in one of 20 categories.
- The objective is obtain the better accuracy in the test set. You can use any library and model explained in the course.
- The delivery are a unique jupiter notebook with all the code. Must run in the course Anaconda environment. Not use additional libraries.

## Template structure

- A Jupiter notebook template is provided to do the task. Structure:
  - Read the train and validation data.
  - Transform to generate numerical features
  - Model: Build your model or models here. Check the accuracy over the validation set.
  - Evaluate results: Build your scoring function here and apply it over the test set.
- You need to complete the transform and model steps to achieve the best result in the evaluation metric, accuracy in test set.
- Is completely forbidden load and use the test set except in the evaluate results step.

## Evaluation

- Exercise evaluated in 0-10 range points.
- To obtain 5 points you must deliver a notebook without errors that provide a solution whit a minimum accuracy of 63%.
- If you obtain an accuracy over 87% you have 10 points.
- Intermediated accuracies between 63% and 87% obtain intermediated points proportionally, but depending of the quality of the work is possible to reduce or increase a maximum of 2 the points assigned automatically by accuracy.

In [1]:
# Header
from __future__ import print_function

import pandas as pd

## 01 Load data

In [2]:
from sklearn.datasets import fetch_20newsgroups

twenty_train = fetch_20newsgroups(subset='train',
                 remove=('headers', 'footers', 'quotes'), shuffle=True, random_state=42)

print(twenty_train.target_names)

['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

In [119]:
# Separate train and validation
from sklearn.model_selection import train_test_split

# Recommended 20% to validation. 
text_trn, text_val, y_trn, y_val = train_test_split(twenty_train.data, twenty_train.target, test_size=0.2)
print(len(text_trn), len(text_val))

9051 2263

## 02 Text encoding

In [120]:
# ------------------------------------
# Define your own encoding proccess here
# ------------------------------------

# EXAMPLE OF CODE
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

# Extract word ocurrences
tf_vectorizer = CountVectorizer(max_df=0.95, min_df=2,
                                max_features=5000,
                                stop_words='english').fit(text_trn)

#From occurrences to frequencies
tfidf_transformer = TfidfTransformer().fit(X_train_counts)

def encoding_text(text):
    '''
    Encoding function
        Input: raw text
        Output: features to train the model
    '''
    text_counts = tf_vectorizer.transform(text)
    text_tf = tfidf_transformer.transform(text_counts)
    return text_tf

# Encode train
X_trn = encoding_text(text_trn)
print(X_trn.shape)
# END OF EXAMPLE OF CODE

## 03 Model and score function

In [123]:
# ------------------------------------
# Put your model or models here
# ------------------------------------

# EXAMPLE OF CODE
from sklearn.naive_bayes import MultinomialNB
# Define and fit in one line
clf = MultinomialNB().fit(X_trn, y_trn)
# END OF EXAMPLE OF CODE

In [124]:
# Score function
def score_function(data):
    '''
    score_function
        Input: Raw text data
        Ouptut: predicted category for each text
    '''

    # ------------------------------------
    # Define your own score function
    # ------------------------------------
    
    # EXAMPLE OF CODE
    # Transformation steps
    X_test_tf = encoding_text(data)
    # Prediction steps
    predicted = clf.predict(X_test_tf)
    # END OF EXAMPLE OF CODE

    return predicted

## 04 Evaluate valid data

In [125]:
# Confussion matrix
from sklearn.metrics import accuracy_score, confusion_matrix

# Evalaute valid data
pred_val = score_function(text_val)

#Calculate accuracy with sklearn
print('Accuracy valid: ', accuracy_score(y_val, pred_val))
pd.DataFrame(confusion_matrix(y_val, pred_val))

Accuracy valid:  0.671674768007

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,36,1,0,0,0,0,0,1,1,0,0,1,1,9,1,26,3,3,3,2
1,0,84,12,14,3,6,5,2,1,2,1,0,0,3,2,3,0,0,0,0
2,0,4,82,14,3,8,5,3,0,1,2,0,1,3,1,0,0,0,0,0
3,0,1,19,84,12,3,2,2,0,0,0,2,5,3,0,1,0,0,0,0
4,0,3,6,14,74,1,4,2,3,0,0,1,5,6,2,1,0,0,0,0
5,0,4,6,1,2,84,3,2,1,0,0,0,1,0,0,2,0,1,1,0
6,0,0,2,2,3,2,84,7,6,1,1,2,4,1,2,2,1,0,0,0
7,0,1,0,3,0,1,5,68,13,1,0,1,5,6,2,5,1,0,0,0
8,1,1,0,0,1,2,1,13,70,1,0,0,2,8,2,3,5,0,1,0
9,0,0,0,0,0,1,0,0,4,86,10,2,1,4,0,3,1,3,0,0
10,0,0,0,0,0,3,0,2,2,3,108,2,0,4,0,1,2,0,1,0
11,0,2,0,0,0,4,0,0,0,0,0,112,4,1,1,2,4,2,2,0
12,0,3,5,10,3,0,5,3,0,1,0,5,74,5,4,0,1,1,0,0
13,0,0,0,0,1,3,0,0,3,1,1,1,3,84,3,2,1,0,0,0
14,1,2,1,0,0,3,1,4,1,3,2,1,1,7,80,2,2,0,1,0
15,0,0,2,0,0,0,0,0,1,0,1,0,0,3,0,99,2,2,1,0
16,2,0,0,1,0,0,0,0,3,2,3,3,1,4,1,5,92,2,0,0
17,3,0,1,0,0,0,1,0,0,1,0,2,0,2,0,4,2,81,3,0
18,2,0,1,0,0,1,1,1,0,3,1,4,0,7,3,13,8,8,38,0
19,5,0,0,0,0,1,0,1,1,0,0,1,0,5,1,44,8,3,0,0

## 05 Evaluate test data
- Don't edit after this!!!
- Execute only once whit the optimal model selected based on the validation accuracy metric.

In [126]:
# Test Accuracy
twenty_test = fetch_20newsgroups(subset='test', remove=('headers', 'footers', 'quotes'))

predicted = score_function(twenty_test.data)
    
print('Accuracy test: ', accuracy_score(twenty_test.target, predicted))

Accuracy test:  0.62599575146